/*start common css*/
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h4,
h6 {
    font-family: 'Bebas Neue', cursive;
}

h3,
p {
    font-family: 'Roboto', sans-serif;

}

p {
    font-size: 16px;
    color: #3E3E3E;
    text-align: justify;
    padding-bottom: 60px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

/*end common css*/


/*start menu part*/
.menu-part {
    width: 100%;
    height: 70px;
    margin: 50px 0px 0px 70px;
}

.menu {
    width: 90%;
}

.menu ul {
    float: right;
}

.menu ul li {
    float: left;

}

.menu ul li a {

    padding: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #3C3C3C;
    font-weight: 500;
}

/*end menu part*/

/*start home part*/
#txt1 {
    font-size: 80px;
}

.color-txt {
    font-size: 80px;
    color: rebeccapurple;
    padding-bottom: 30px;

}

.home-part {
    width: 100%;
    height: 1100px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.half-width img {
    width: 583px;
    height: 476px;
}

.link-btn {
    background-color: teal;
    padding: 20px 100px;
    color: thistle;
    font-weight: 700;
    border-radius: 10px;
}

.txt2 {
    color: #363958;
    font-size: 48px;
    padding-bottom: 30px;
    font-weight: 400;

}

/*end home part*/

/*start testimonials part*/
.testimonials {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.testimonials h1 {
    font-size: 64px;
    color: #363958;
    padding: 10px 5px;
}

.testimonials p {
    text-align: center;
    font-size: 24px;
}

.test {
    width: 45%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}

.test img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.test h6 {
    font-size: 28px;
    color: #363958;
    font-weight: 400;
    padding-bottom: 60px;
}

/*end testimonials part*/

/*start experiences part*/
.working-part {
    width: 100%;
    height: 700px;
    background-color: #e9e7e7;
    padding-top: 90px;
    text-align: center;
}

.working-part h1 {
    font-weight: 400;
}

.color-txt2 {
    color: rebeccapurple;
    padding-bottom: 30px;

}

.work-project {
    width: 28%;
    margin-left: 2%;
    padding-top: 30px;
    height: 400px;
    float: left;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 400px;
}

.work-project img {
    height: 209px;
    width: 336px;
    padding: 3px 0px;
}

#work1 {
    margin-left: 6%;
}

.work-project h3 {

    font-size: 24px;
    color: #363958;
    padding: 10px 5px;
}

.work-project p {
    color: #6C6C6C;
    padding: 10px 15px;

}

/*end experiences part*/


/*start contact part*/
.contact-part {
    padding-bottom: 60px;
    padding-top: 60px;
}

.contact img {
    margin-left: 20%;
    margin-top: 40px;
    height: 225px;
    width: 900px;
    position: relative;
}

.contact h2 {
    position: absolute;
    margin-top: -10%;
    margin-left: 25%;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 400;
}

.cont {
    position: absolute;
    text-align: center;
    color: white;
    margin-top: -8%;
    margin-left: 65%;

}

.btn2 {

    background-color: chartreuse;
    padding: 20px 20px;
    color: black;
    font-weight: 400;
    border-radius: 10px;
}

/*end contact part*/



/*start footer part*/
.footer-part h4 {
    color: #696871;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 20px;

}

.footer-part p {
    text-align: center;
    padding-bottom: 20px !important;
}

.footer-part p a {
    color: #363958;
    font-size: 36px;
    font-weight: 600;

}

.icon-part {
    text-align: center;
    padding-bottom: 60px;
}

.icon-part img {
    height: 40px;
    width: 40px;
    padding: 5px;
}

footer {
    text-align: center;
}

/*end footer part*/
